/*	VARIABLES	*/
/* colors */
/* brakpoints */
/* MIXINS */
/* media queries */
/* line 36, ../sass/style.scss */
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  font-weight: normal;
}

/* line 42, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.5em;
  margin: .45em 0;
  padding: 0;
}

/* fonts */
@font-face {
  font-family: 'sansa_probold';
  src: url("fonts/sansapro-bold-webfont.eot");
  src: url("fonts/sansapro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sansapro-bold-webfont.woff2") format("woff2"), url("fonts/sansapro-bold-webfont.woff") format("woff"), url("fonts/sansapro-bold-webfont.ttf") format("truetype"), url("fonts/sansapro-bold-webfont.svg#sansa_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sansa_prosemibold';
  src: url("fonts/sansapro-semibold-webfont.eot");
  src: url("fonts/sansapro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sansapro-semibold-webfont.woff2") format("woff2"), url("fonts/sansapro-semibold-webfont.woff") format("woff"), url("fonts/sansapro-semibold-webfont.ttf") format("truetype"), url("fonts/sansapro-semibold-webfont.svg#sansa_prosemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* links */
/* line 74, ../sass/style.scss */
a,
a:visited,
a:active,
a:hover {
  color: #0099ff;
}

/* line 78, ../sass/style.scss */
a:hover {
  text-decoration: none;
}

/* line 80, ../sass/style.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Colors and backgrounds */
/* line 84, ../sass/style.scss */
body {
  color: #333;
  background: #eee;
}

/* line 89, ../sass/style.scss */
h2 {
  font-family: 'sansa_probold','sans-serif';
  font-size: 1.4em;
}

/* line 93, ../sass/style.scss */
h3 {
  font-family: 'sansa_prosemibold','sans-serif';
  font-size: 1.1em;
  color: #ed1c2e;
  margin: 24px 0px;
}

/* line 100, ../sass/style.scss */
button {
  border: none;
  font-family: 'sansa_prosemibold','sans-serif';
  font-size: 0.7em;
  background-color: #ed1c2e;
  padding: 7px 14px;
  border-radius: 6px;
  color: #fff;
  margin: 24px 0pxi;
}

/* structure */
/* line 112, ../sass/style.scss */
.main {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(179, 179, 179, 0.4);
  -moz-box-shadow: 0px 1px 2px 2px rgba(179, 179, 179, 0.4);
  box-shadow: 0px 1px 2px 2px rgba(179, 179, 179, 0.4);
}

/* line 118, ../sass/style.scss */
.wrapper {
  width: 92%;
  margin: 0 auto;
}

/* line 123, ../sass/style.scss */
.intro-text {
  text-align: center;
  margin: 38px 15% 115px 15%;
  padding-bottom: 48px;
}

/* line 128, ../sass/style.scss */
.top-navigation {
  margin-bottom: 0px;
  margin: 0 15px;
}

/* line 132, ../sass/style.scss */
p {
  font-family: 'Verdana','sans-serif';
  font-size: 0.7em;
  margin: 0 0 1.5em;
  line-height: 2em;
}

/* line 139, ../sass/style.scss */
p a {
  color: #0099ff;
}

/* RESPONSIVE IMAGES */
/* line 144, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* SPACE GRID ELEMENTS VERTICALLY */
/* line 150, ../sass/style.scss */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-bottom: 20px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 168, ../sass/style.scss */
.grid_12.rightfloat {
  margin-bottom: 0px;
}

/*FOOTER*/
/* line 172, ../sass/style.scss */
footer {
  background: #fbeb2e;
  color: #2d2d2d;
  clear: both;
  font-size: 80%;
}

/* line 178, ../sass/style.scss */
footer .grid_2.contact-col {
  margin-bottom: 14px;
}

/* line 181, ../sass/style.scss */
footer .grid_12 {
  margin-bottom: 0px;
}

/* line 184, ../sass/style.scss */
footer ul li {
  list-style-type: none;
}

/* line 187, ../sass/style.scss */
footer ul li.second-col {
  margin-top: 15px;
}

/* line 190, ../sass/style.scss */
footer ul li.title {
  font-family: 'sansa_probold','sans-serif';
  margin-bottom: 12px;
  font-size: 0.9em;
}

/* line 195, ../sass/style.scss */
footer ul {
  margin: 0;
  padding: 0;
}

/* line 199, ../sass/style.scss */
.footer-columns {
  margin: 0 18%;
}

/* Contain floats*/
/* line 203, ../sass/style.scss */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

/* line 210, ../sass/style.scss */
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

/*
Media queries
*/
/*
MOBILE
*/
@media (min-width: 480px) {
  /* line 224, ../sass/style.scss */
  .grid_12 {
    padding: 0px;
  }

  /* line 227, ../sass/style.scss */
  .grid_3, .grid_6 {
    width: 33%;
    float: left;
    display: block;
  }

  /* line 233, ../sass/style.scss */
  .grid_2.at960 {
    display: none;
  }

  /* line 236, ../sass/style.scss */
  .wrapper {
    width: 100%;
  }

  /* line 239, ../sass/style.scss */
  footer ul li {
    text-align: left;
  }

  /* line 242, ../sass/style.scss */
  .footer-columns {
    margin: 0 2%;
  }
}
@media (max-width: 480px) {
  /* line 248, ../sass/style.scss */
  footer ul li {
    text-align: center;
  }

  /* line 251, ../sass/style.scss */
  .grid_12 {
    padding: 0px;
  }

  /* line 254, ../sass/style.scss */
  .notat480 {
    display: none;
  }
}
/*
TABLET & SMALLER LAPTOPS
*/
@media (min-width: 960px) {
  /* line 262, ../sass/style.scss */
  .wrapper {
    width: 92%;
    max-width: 1400px;
  }

  /* line 266, ../sass/style.scss */
  #banner {
    float: left;
    text-align: left;
    margin-bottom: 0px;
  }

  /* line 271, ../sass/style.scss */
  #content {
    float: left;
    width: 65%;
  }

  /* line 275, ../sass/style.scss */
  #content.wide-content {
    float: none;
    width: 100%;
  }

  /* line 279, ../sass/style.scss */
  .flexslider {
    display: block;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
  }

  /* line 287, ../sass/style.scss */
  .notat480 {
    display: block;
  }

  /*GRID*/
  /*
   & Columns : 12 
   */
  /* line 295, ../sass/style.scss */
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  /* line 299, ../sass/style.scss */
  .grid_1 {
    width: 8.33333333%;
  }

  /* line 300, ../sass/style.scss */
  .grid_2 {
    width: 16.66666667%;
  }

  /* line 301, ../sass/style.scss */
  .grid_3 {
    width: 25%;
  }

  /* line 302, ../sass/style.scss */
  .grid_4 {
    width: 33.33333333%;
  }

  /* line 303, ../sass/style.scss */
  .grid_5 {
    width: 41.66666667%;
  }

  /* line 304, ../sass/style.scss */
  .grid_6 {
    width: 50%;
  }

  /* line 305, ../sass/style.scss */
  .grid_7 {
    width: 58.33333333%;
  }

  /* line 306, ../sass/style.scss */
  .grid_8 {
    width: 66.66666667%;
  }

  /* line 307, ../sass/style.scss */
  .grid_9 {
    width: 75%;
  }

  /* line 308, ../sass/style.scss */
  .grid_10 {
    width: 83.33333333%;
  }

  /* line 309, ../sass/style.scss */
  .grid_11 {
    width: 91.66666667%;
  }

  /* line 310, ../sass/style.scss */
  .grid_12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 314, ../sass/style.scss */
  .grid_2.at960 {
    display: block;
  }

  /* line 317, ../sass/style.scss */
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    float: left;
    display: block;
  }

  /* line 332, ../sass/style.scss */
  .rightfloat {
    float: right;
  }

  /* line 335, ../sass/style.scss */
  #hero [class*="grid_"] {
    margin-bottom: -20px;
  }

  /* line 336, ../sass/style.scss */
  footer ul li {
    text-align: left;
  }

  /* line 339, ../sass/style.scss */
  .footer-columns {
    margin: 0 18%;
  }
}
